[Desktop Entry]
Name=Hedge Mod Manager
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=/app/bin/HedgeModManager.UI --file-forwarding io.github.hedge_dev.hedgemodmanager @@u %u @@
Type=Application
Icon=io.github.hedge_dev.hedgemodmanager
Categories=Game;
Comment=Configure mods for various Hedgehog Engine games
Keywords=hedgehog;mod;loader;manager;sonic
MimeType=x-scheme-handler/hedgemm;x-scheme-handler/hedgemmswa;x-scheme-handler/hedgemmgens;x-scheme-handler/hedgemmlw;x-scheme-handler/hedgemmforces;x-scheme-handler/hedgemmtenpex;x-scheme-handler/hedgemmmusashi;x-scheme-handler/hedgemmrainbow;x-scheme-handler/hedgemmhite;x-scheme-handler/hedgemmrangers;x-scheme-handler/hedgemmmillersonic;x-scheme-handler/hedgemmmillershadow
X-Flatpak=io.github.hedge_dev.hedgemodmanager
Name[en]=Hedge Mod Manager
Name[en_US]=Hedge Mod Manager
Name[en_US.UTF-8]=Hedge Mod Manager
Comment[en]=Configure mods for various Hedgehog Engine games
Comment[en_US]=Configure mods for various Hedgehog Engine games
Comment[en_US.UTF-8]=Configure mods for various Hedgehog Engine games
Keywords[en]=hedgehog;mod;loader;manager;sonic
Keywords[en_US]=hedgehog;mod;loader;manager;sonic
Keywords[en_US.UTF-8]=hedgehog;mod;loader;manager;sonic
PrefersNonDefaultGPU=false
NoDisplay=true
StartupNotify=false
Terminal=false

