[Desktop Entry]
Name[bn]=সম্পদ
Name[cs]=Zdroje
Name[de]=Ressourcen
Name[en_GB]=Resources
Name[es]=Resources
Name[fr]=Ressources
Name[hi]=रिसोर्सेज
Name[it]=Risorse
Name[ja]=Resources
Name[ka]=Resources
Name[nb]=Resources
Name[nl]=Systeembronnen
Name[pl]=Zasoby
Name[pt_BR]=Recursos
Name[ru]=Ресурсы
Name[tr]=Kaynaklar
Name[uk]=Ресурси
Name[zh_CN]=Resources
Name[zh_TW]=Resources
Name=System Monitor
Comment[bn]=সিস্টেম সম্পদ পর্যবেক্ষণ করুন
Comment[cs]=Udržujte kontrolu nad systémovými zdroji
Comment[de]=Systemressourcen im Auge behalten
Comment[en_GB]=Keep an eye on system resources
Comment[es]=Monitoree los recursos del sistema
Comment[fr]=Surveiller les ressources du système
Comment[hi]=सिस्टम संसाधनों पर नज़र रखें
Comment[ja]=システムリソースを監視
Comment[nb]=Hold øye med systemresurser
Comment[nl]=Monitor uw systeembronnen en -processen
Comment[pl]=Monitoruj zasoby systemu
Comment[pt_BR]=Monitore os recursos do sistema
Comment[ru]=Отслеживайте системные ресурсы
Comment[tr]=Bir gözünüz hep sistem kaynaklarında olsun
Comment[uk]=Слідкуйте за системними ресурсами
Comment[zh_CN]=随时关注系统资源
Comment=Keep an eye on system resources
Type=Application
Exec=resources
Terminal=false
Categories=System;
Keywords[bn]=সিস্টেম;সম্পদ;মনিটর;প্রক্রিয়া;ব্যবহার;টাস্ক;ম্যানেজার;সিপিইউ;র‍্যাম;মেমোরি;জিপিইউ;
Keywords[cs]=System;Systém;Resources;Zdroje;Sledovat;Monitorovat;Procesy;Využití;Úloha;Manažer;CPU;RAM;Paměť;GPU;
Keywords[de]=System;Ressourcen;Monitor;Überwachung;Prozesse;Benutzung;Auslastung;Task;Manager;CPU;RAM;Speicher;GPU;
Keywords[en_GB]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;
Keywords[es]=Sistema;Recursos;Monitor;Procesos;Uso;Tarea;Admin;CPU;RAM;Memoria;GPU;
Keywords[fr]=Système;Ressources;Moniteur;Processus;Utilisation;Tâches;CPU;RAM;Mémoire;GPU;
Keywords[hi]=सिस्टम;संसाधन;निगरानी;प्रक्रियाएं;उपयोग;कार्य;प्रबंधक;सीपीयू;रैम;मेमोरी;जीपीयू;
Keywords[it]=Sistema;Risorse;Monitor;Processi;Utilizzo;Attività;Gestore;CPU;RAM;Memoria;GPU;
Keywords[ja]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;システム;リソース;モニター;プロセス;使用量;タスク;マネージャー;メモリー;
Keywords[ka]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;მეხსიერება;პროცესორი;სისტემა;დატვირთვა;
Keywords[nb]=System;Resurser;Monitor;Prosess;Bruk;Prosesser;Overvåke;Task;Manager;CPU;RAM;Minne;GPU;
Keywords[nl]=Systeem;Bronnen;Monitor;Processen;Gebruik;Taak;Beheer;Cpu;Ram;Geheugen;Gpu;
Keywords[pl]=System;Zasoby;Monitor;Procesy;Wykorzystanie;Zadań;Menedżer;CPU;RAM;Pamięć;GPU;
Keywords[pt_BR]=Sistema;Resources;Recursos;Monitor;Processos;Uso;Tarefas;Gerenciador;CPU;RAM;Memória;GPU;
Keywords[ru]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;Система;Ресурсы;Процессы;ЦП;ОЗУ;Память;Графика;Монитор;Использование;
Keywords[tr]=Sistem;Kaynaklar;Monitör;İzle;Süreçler;Kullanım;Görev;Yönetici;CPU;İşlemci;RAM;Bellek; GPU;Ekran Kartı;
Keywords[uk]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;система;ресурси;монітор;процеси;менеджер;задачі;процесор;відеокарта;пам'ять;оператива;завис;лаг;
Keywords[zh_CN]=系统;资源;监控;进程;使用情况;任务;管理员;CPU;RAM;存储;储存;GPU;
Keywords[zh_TW]=系統;資源;監控器;處理程序;使用情形;任務;管理員;CPU;RAM;記憶體;GPU;
Keywords=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;
Icon=org.gnome.SystemMonitor
StartupNotify=true
X-Purism-FormFactor=Workstation;Mobile;
Name[en]=System Monitor
Name[en_US]=System Monitor
Name[en_US.UTF-8]=System Monitor
Comment[en]=Keep an eye on system resources
Comment[en_US]=Keep an eye on system resources
Comment[en_US.UTF-8]=Keep an eye on system resources
Keywords[en]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;
Keywords[en_US]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;
Keywords[en_US.UTF-8]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;
PrefersNonDefaultGPU=false
Hidden=false
NoDisplay=false

