[Desktop Entry]
Version=1.0
Name=Prism Launcher
Comment=Discover, manage, and play Minecraft instances
Type=Application
Terminal=false
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=prismlauncher --file-forwarding org.prismlauncher.PrismLauncher @@u %U @@
StartupNotify=true
Icon=org.prismlauncher.PrismLauncher
Categories=Game;ActionGame;AdventureGame;Simulation;PackageManager;
Keywords=game;minecraft;mc;
StartupWMClass=PrismLauncher
MimeType=application/zip;application/x-modrinth-modpack+zip;x-scheme-handler/curseforge;x-scheme-handler/prismlauncher;x-scheme-handler/prismlauncher;
X-Flatpak=org.prismlauncher.PrismLauncher
Name[en]=Prism Launcher
Name[en_US]=Prism Launcher
Name[en_US.UTF-8]=Prism Launcher
Comment[en]=Discover, manage, and play Minecraft instances
Comment[en_US]=Discover, manage, and play Minecraft instances
Comment[en_US.UTF-8]=Discover, manage, and play Minecraft instances
Keywords[en]=game;minecraft;mc;
Keywords[en_US]=game;minecraft;mc;
Keywords[en_US.UTF-8]=game;minecraft;mc;
PrefersNonDefaultGPU=false
NoDisplay=true

