[Desktop Entry]
Name=WinBoat
Exec=/opt/winboat/winboat %U
Terminal=false
Type=Application
Icon=winboat
StartupWMClass=winboat
Comment=Windows for Penguins
Categories=Utility;
Name[en]=WinBoat
Name[en_US]=WinBoat
Name[en_US.UTF-8]=WinBoat
Comment[en]=Windows for Penguins
Comment[en_US]=Windows for Penguins
Comment[en_US.UTF-8]=Windows for Penguins
PrefersNonDefaultGPU=false
Hidden=false
NoDisplay=false
StartupNotify=false

