[Desktop Entry]
Name=Notepad
Comment=Text Editor
Name[ar]=مفكرة
Comment[ar]=محرر النّصوص مفكرة واين
Exec=notepad
Icon=notepad
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=notepad.exe
Categories=X-Wine;
X-Desktop-File-Install-Version=0.28
Name[en]=Notepad
Name[en_US]=Notepad
Name[en_US.UTF-8]=Notepad
Comment[en]=Text Editor
Comment[en_US]=Text Editor
Comment[en_US.UTF-8]=Text Editor
PrefersNonDefaultGPU=false
NoDisplay=true

